:root {
  --conway-alive: rgba(157, 240, 241, 1);
  --conway-visited: rgba(110, 110, 110, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0D0D0D;
}

#conway-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0.35;
}

#content {
  position: relative;
  z-index: 1;
}

